<h1>Bienvenue sur la page de connection !</h1><br> 

<%= form_tag url_for(action: 'create'), method: "post" do %>

  <%= label_tag 'Email:' %>
  <%= text_field_tag 'email' %>
  <br/> <br/>

  <%= label_tag 'Mot de passe:' %>
  <%= password_field_tag 'password' %>
  <br/> <br/>

  <%= submit_tag "Envoyer le formulaire" %>

<% end %>  