<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="text-center" style="padding: 15px">
  <div class="form-signin w-50 m-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label "Email:" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control text-center' %>
      </div><br/>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label "Mot de passe:" %> <i>(Laissez vide si vous ne voulez pas le changer)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control text-center' %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> caractère minimum</em>
        <% end %>
      </div><br/>

      <div class="form-group">
        <%= f.label "Confirmer le mot de passe" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control text-center' %>
      </div><br/>

      <div class="form-group">
        <%= f.label "Mot de passe actuel:" %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer vos changements)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control text-center' %>
      </div><br/>

      <div class="actions">
        <%= f.submit "Modifier", class: 'w-100 btn btn-lg btn-primary' %>
      </div><br/>
    <% end %>
  </div>
</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'w-15 btn btn-lg btn-danger' %></p>

<%= link_to "Back", :back %>
