<h1>Bienvenue sur la page de création d'un utilisateur !</h1><br>    

<% if @user %>
  <% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Nous n'avons pas réussi à créer l'utilisateur pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
</div>
<br/>

<%= form_tag url_for(action: 'create'), method: "post" do %>

  <%= label_tag 'Prénom:' %>
  <%= text_field_tag 'first_name' %>
  <br/> <br/>

  <%= label_tag 'Nom:' %>
  <%= text_field_tag 'last_name' %>
  <br/> <br/>

  <%= label_tag 'Email:' %>
  <%= text_field_tag 'email' %>
  <br/> <br/>

  <%= label_tag 'Mot de passe:' %>
  <%= password_field_tag 'password' %>
  <br/> <br/>

  <%= label_tag 'Âge:' %>
  <%= text_field_tag 'age' %>
  <br/> <br/>

  <%= label_tag 'Ville:' %>
  <%= text_field_tag 'city' %>
  <br/> <br/>

  <%= label_tag 'Description:' %>
  <%= text_field_tag 'description' %>
  <br/> <br/>

  <%= submit_tag "Envoyer le formulaire" %>

<% end %>