<h1>Bienvenue sur la page de <%= @user.first_name %> !</h1>
<p>
<strong>Nom:</strong> <%= @user.first_name + " " + @user.last_name %>
</p>
<p>
<strong>Description:</strong> <%= @user.description %>
</p>
<p>
<strong>Email:</strong> <%= @user.email %><br/>
<strong>Âge:</strong> <%= @user.age %> ans<br/>
<strong>Ville:</strong> <%= link_to "#{@user.city.name}", city_path(@user.city_id) %>
</p>
<p>
<strong>Créé le:</strong> <%= @user.created_at %>
</p>
<% if current_user == @user %>
  <%= button_to "Modifier cet utilisateur", edit_user_path(@user.id), :method => "get" %><br>
  <%= button_to "Supprimer cet utilisateur", user_path(@user), :method => "delete" %><br>
<% end %>